!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Mapapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.route-header
      .route-header__area
        .route-header__area--logo
          = link_to "Img", root_path
        .route-header__area--right
          .head-title
            title
          .head-search
            %input
          .head-status
            - if user_signed_in?
              .head-status__user-nav
                user-info-texts
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "head-status__user-nav--btn"
            - else
              .head-status__user-nav
                = form_with(model: @user, url: session_path(@user), local: true) do |f|
                  = f.text_field :username, autofocus: true, placeholder: "ユーザー名", class: "head-status__user-nav--input"
                  = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "head-status__user-nav--input"
                  = f.submit("ログイン", class: "head-status__user-nav--btn")
                  = link_to "新規登録", new_user_registration_path, class: "head-status__user-nav--btn"
    .yield-area
      = yield
    %footer.route-footer
      .route-footer__area
